@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.prescription-carousel {
  padding: 20px 0 40px 0 !important;
}

.prescription-carousel .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: #40E0D0;
  opacity: 0.5;
}

.prescription-carousel .swiper-pagination-bullet-active {
  opacity: 1;
}

.prescription-carousel .swiper-button-next,
.prescription-carousel .swiper-button-prev {
  color: #40E0D0;
  transform: scale(0.7);
}

.prescription-carousel .swiper-button-next:hover,
.prescription-carousel .swiper-button-prev:hover {
  transform: scale(0.8);
  transition: transform 0.3s ease;
}

@media (max-width: 768px) {
  .prescription-carousel .swiper-button-next,
  .prescription-carousel .swiper-button-prev {
    display: none;
  }
}
